* {
    font-family: 'Roboto', sans-serif;
}

.dashboard-container {
display: flex;
}
.dashboard-sidebar {
    height: 100vh;
    width: 15%;
    background: #63bfff;
}
.dashboard-informations {
    display: flex;
    width: 100%;
}
.sidebar-menu {
    padding-top: 30%;
    list-style: none;
    padding-inline-start: 0;
}
.sidebar-menu li {
    display: flex;
    height: 50px;
    padding-left: 30px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-weight: 500;
}

.highlight0 {
    background: #ff8888;
}
.highlight1 {
    background: #f2f2f2;
}
.highlight2 { 
    background: #63bfff;
}

#testLI,#testLI2 {
    list-style: none;
}


/* --------- */

body{
    background-color: #f6f7fb !important;
    font-family: raleway;
    /* margin-right: 15px;
    margin-left: 15px; */
    overflow-x: hidden;
}

.sidebar{
    background-color: white;
    height: 927px;
    padding-top: 5%
}

.img-sidebar{
    display: flex;
    justify-content: center;
    height: 3%;
}

.dashboard{
    display:flex;
    justify-content: flex-start;
   border-bottom: 1px solid #00000014;
   padding-top: 16%;
   width: 105%;
   margin-bottom: 230%;
}

.dashboard-text{
    margin-left: 6%;
    margin-bottom: 6%;
    margin-right: -5%;
}

.kalendari-button{
    background-color: #3079ff;
    color: white;
    padding: 7px 50px;
    border-radius: 15px;
    border: none;

}

.client-info p{
    margin: 0;
}
.client-info{
    text-align: right;
    border-bottom: 1px solid #00000014;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.main-content{
    background-color: white;
    border-radius: 15px;
    padding: 2%;
    margin-top: 2%;
}
.center{
    display: flex;
    justify-content: center;
}
.box1{
    border: 3px solid  #3079ff;
    border-radius: 15px;
    padding: 8%;
}
.box2{
    border: 3px solid  #e12876;
    border-radius: 15px;
    padding: 6.3%;
}
.box3{
    border: 3px solid  #21d090;
    border-radius: 15px;
    padding: 8%;
    display: flex;
    justify-content: center;
}
.inline{
    display: flex;
}

.box1 h1{
    font-weight: 700;
    margin-left: 25%;
    height: 50px;
    border-left: 1px solid;
    padding-left: 10%;
    font-size: 48px;
     margin-bottom: 0;
    padding-bottom: 0
}
.box1 h3{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.box2 h1{
    font-weight: 700;
    margin-left: 13%;
    height: 50px;
    border-left: 1px solid;
    padding-left: 10%;
    font-size: 48px;
     margin-bottom: 0;
    padding-bottom: 0;
    margin-top:2%;
}

.box2 h3{
     display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.box3 h1{
    font-weight: 700;
    margin-left: 11%;
    height: 50px;
    border-left: 1px solid;
    padding-left: 10%;
    font-size: 48px;
     margin-bottom: 0;
    padding-bottom: 0;
    
}

.box3 h3{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.banner{
    margin-top: 2%;
    background-color:rgba(137, 137, 137, 0.2);
    color: black;
    text-align: center;
    padding: 0.5%;
}
.banner h3{
    margin: 0;
    padding: 0;
}

.kerko{
    margin-top: 1%;
    margin-bottom: 1%;
}
.kerko .kerkostyle{
    background: #00000014;
    border-radius: 15px;
    padding: 5px 35px;
}
.kerkostyle i{
    color: #3079ff;
    margin-right: 1%;
}
.kerkoinput{
    background: transparent;
    border: none;
    width: 7%;
}

.plagprec{
    background: #ea5364;
    padding: 10px 35px;
    color: white;
}
tbody>tr>th{
    color: #3079ff;
    padding: 1%;
}
.text-center{
    text-align: center;
    vertical-align: middle !important;
}
.precposition{
    display: flex;
    justify-content: center;
}
.burimet{
    font-weight: 600;
    font-size: 25px;
}

.navbar{
    background-color: #3079ff;
    width: 100%;
    height: 80px;
}

.img-navbar{
    display: flex;
    justify-content: center;
    width: 98%;
}

.navbar>div>h1>i{
    color: white;
}
.title{
    display: flex;
    widows: 100%;
    justify-content: center;
    margin-top: 2%;
    color: #3079ff;
    
}
.middlecontent{
    margin-top: 2%;
  
}
.firstrow{
    background-color: white;
    border-radius: 15px;
    padding: 0;
    border-bottom:1px solid #00000014;
}

.firstrow2{
    background-color: white;
    border-radius: 15px;
    padding: 0;
    border-bottom:1px solid #00000014;
}
.firstrow3{
    background-color: white;
    border-radius: 15px;
    padding: 0;
    border-bottom:1px solid #00000014;
}

.firstrow p {
    margin: 0;
}

.firstrow h6{
    font-weight: 600;
}

.firstrow div{
    padding: 20px;
    border-bottom:1px solid #00000014;
}

.firstrow2 div{
    padding: 20px;
    
}

.rowwidth{
    width: 97%;
    /* margin-left: 1.5%; */
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.img-position{
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-left{
    padding-left: 8% !important;
}
.seconddiv div{
    padding: 20px;
    margin: 7px;
    border-bottom:1px solid #00000014;
}

.precentage-link{
    display: inline-flex;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
}
.precentage{
    font-size: 30px;
    border-left: 3px solid #ea5364;
    color: #ea5364;
    padding-left: 5%;
}

.mt-pd{
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.linkstyle{
     width: 555px !important;
}

.test-color{
    background-color: red;
}

.scroll{
    max-height: 371px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.orgContent{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}

.copyContent{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}

.border-bottom{
    border-bottom: 1px solid #00000014;
    padding-left: 15px;
}

.orgContent-text{
    margin-top: 4%;
}

.middlePlag{
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #ea5364;
    border-bottom: 1px solid #ea5364;
}
.plagnumber{
    padding-bottom: 3%;
}

.sidebarmain{
    padding-left: 0 !important;
    overflow: hidden;
}

.displaynone{
    display: none;
}
.displayblokc{
    display: block;
}

.analizo{
    background-color: red;
}

.kalendari-button::placeholder{
    color:white;
    text-align: center;
}
.kalendari-button-position{
    display: flex; 
    justify-content: center
}

.middle{
    vertical-align: middle !important;
    cursor: pointer;
    width: 50%;
}

.mt2{
    margin-top: 2% !important
}

.iframesize{
    height: 425px;
    overflow: scroll;
    overflow-x: hidden;
}
.centerbuttons{
    display: flex;
    justify-content: center;
}
.pagination-page {
    border: 1px solid black;
    padding: 2px 5px;
}

.ml-1_5{
margin-left: 1.5% !important;

}
@media only screen and (max-width: 1536px) {
    .box1 h1{
        margin-left: 11% !important;
    }
    .box2 h1{
        margin-left: 7%;
    }
    .box1 h3 , .box2 h3 , .box3 h3{
        font-size: 26px;
    }
    .kalendari-button{
        padding: 7px 15px;
        margin-left: 2%;
    }
    .dashboard{
        margin-bottom: 280%;
    }
    .middle{
        width: 50%;
    }
    .imgwidth{
        width: 80%;
        height: 150% !important;
    }
    .paneliimg{
        margin-top: 1%;
        height: 2.6% !important;
    }
    .sidebar{
        background-color: white;
        height: 870px;
        padding-top: 5%;
        margin-bottom: 20px;
    }
    .zerostate{
        position: absolute !important;
        margin-left: 7% !important;
        font-weight: 200 !important;
        font-size: 25px !important;
        margin-top: 33% !important;
    }
}

.arrow{
    position: absolute;
    margin-left: 5.9%;
    margin-top: -1%;
}
.clickable{
    cursor: pointer;
}
.unclicked{
    cursor:not-allowed;
    color: #3079ff8a !important;
}
.middlebuttons{
   
    justify-content: center;
    height: 500px;
    align-items: center;
}
.mb2{
    margin-bottom: 2%;
}

.zerostate{   
    position: absolute;
    margin-left: 15%;
    font-weight: 200;
    font-size: 25px;
    margin-top: 30%;
}
.bordernone{
    border: none;
}

.clickedColor{
    color: blue;

}
.unclickedColor{
color: black;
}

.pagination-page , .pagination-last, .pagination-next , .pagination-prev , .pagination-first {
    padding: 5px 10px;
    border: 1px solid #0000003d;
    font-size: 20px;
    
}

.pagination-page:hover{
    color: black !important;
    text-decoration: none;
    text-decoration-line: none;
}



.tooltip-container {
    cursor: not-allowed;
    position: relative;
    display: inline-block;
    text-align: center;
}

.tooltip {
    opacity: 0;
    z-index: 99;
    color: black;
    width: 190px;
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    background: #e7e7e7;
    border: 1px solid rgba(34,34,34,0.9);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    right: -80px;
    bottom: 40px;
}

.tooltip:before,.tooltip:after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e7e7e7;
    position: absolute;
    bottom: -10px;
    left: 43%;
     text-align: center;
}

.tooltip-container:hover .tooltip,a:hover .tooltip {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}