<div class="row">
  <div class="col-md-2 sidebarmain" ng-hide="_this.step == 0">
    <div class="sidebar">
      <p class="img-sidebar">
        <img src="img/logo2.png" class="imgwidth" width="80%" height="165%" alt="">
      </p>
      <div class="row dashboard">
        <img src="img/dashboard_icon.png" class="paneliimg" width="9%" height="3%" style=" margin-left: 15%;" alt="">
        <h5 class="dashboard-text">Paneli</h5>
      </div>
      <div class="kalendari-button-position">
        <div>
          <datepicker>
            <input class="kalendari-button" style="text-align: center" placeholder="Arkiva e lajmeve"
              ng-model="_this.getDate" ng-change="_this.selectorChanged(_this.getDate)"></input>
          </datepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="information-container col-md-10">
    <div>
      <!-- <button ng-click="_this.getNews()" class="btn btn-primary">Meri te dhenat</button> -->
      <div ng-show="_this.step == 1">
        <div class=" client-info">
          <p>Përshëndetje: Kallxo.com</p>
          <!-- <p>Kyqja e fundit: 21/05/2019 | 19:05</p> -->
        </div>
        <div class="main-content">
          <div class="inline">
            <div class="col-md-4">
              <div class="row col-md-12  box1">
                <h3>Total lajmet sot</h3>
                <h1>{{_this.news.length}}</h1>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row col-md-12  box2">
                <h3>Lajmet me <br>ngjashmëri të lartë</h3>
                <h1>{{_this.suspiciousNews || 0}}</h1>
              </div>
            </div>
            <div class="col-md-4">
              <div class="row col-md-12  box3">
                <h3>Të tjera</h3>
                <h1>{{_this.allowedNews || 0}}</h1>
              </div>
            </div>
          </div>
          <div class="banner">
            <h3>Analiza e ngjashmërisë</h3>
          </div>
          <div class="kerko">
            <span class="kerkoStyle">
              <span><i class="fas fa-search  "></i> <input class="kerkoinput" type="text"
                  placeholder="Kerko lajme"></span>
            </span>
          </div>
          <div class="information-container">
            <!-- <datepicker>
                    <input class="btn btn-danger" ng-model="_this.getDate"
                      ng-change="_this.selectorChanged(_this.getDate)">Zgjedh Daten</input>
                  </datepicker> -->
            <div>
              <!-- <button ng-click="_this.getNews()" class="btn btn-primary">Meri te dhenat</button>
                <button class="btn btn-warning" ng-click="_this.selectedDateNews('2019-02-15')">Test Date</button> -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Linku</th>
                    <th scope="col" class="text-center">Data e postimit</th>
                    <th scope="col" class="text-center">Kontrollimi i fundit</th>
                    <th scope="col" class="text-center">Ngjashmëria</th>
                    <th scope="col" class="text-center">Burimet</th>
                    <th scope="col" class="text-center">Analizo përsëri</th>
                  </tr>
                </thead>
                <tbody ng-repeat="($counter,new) in  _this.sliced">
                  <tr>
                    <th class="middle" ng-click="_this.getSentencesOfArticle(new.id)" scope="row">{{new.url}}</th>
                    <td class="text-center">{{ new.created_at.split('T')[0] || 0 }}
                      {{ new.created_at.split("T")[1].split(".")[0]}}</td>
                    <td class="text-center">
                      {{ new.updated_at.split('T')[0] || 0 }} {{new.updated_at.split('T')[1].split(".")[0]}}</td>
                    <td class="text-center precposition" style="border:none;">
                      <span class="plagprec">{{new.highest_percentage.toFixed(2)}}%</span>
                    </td>
                    <td class="text-center burimet">{{new.number_of_sources}}</td>
                    <td ng-if="new.analyseOrNot === 1" class="text-center hoveronSync kerkostyle "><i
                        ng-click="_this.analyseAgain($counter)" class="fas fa-sync-alt clickable "></i>
                    </td>
                    <td class="text-center hoveronSync kerkostyle " ng-if="new.analyseOrNot === 0"> <i
                        class="fas fa-sync-alt unclicked tooltip-container"> <span class="tooltip"
                          style=" text-align: center;">Lajmet ditore kontrollohen vazhdimisht!</span>
                      </i> </td>
                    <!-- <td class="text-center kerkostyle "><i ng-click="_this.analyseAgain($counter)"
                        class="fas fa-sync-alt clickable "></i> </td>
                    <td class="text-center kerkostyle "><i class="fas fa-sync-alt clickable ">Jo</i> </td> -->
                  </tr>
                </tbody>
              </table>

              <div class="col-md-12" style=" display: flex; justify-content: center;">
                <ul uib-pagination boundary-links="true" max-size="5" items-per-page="_this.pageSize"
                  total-items="_this.news.length" ng-change="_this.pageChanged()" ng-model="_this.currentPage"
                  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div>
  <div ng-hide="_this.step == 1">
    <div class="row">
      <div class="navbar">
        <div>
          <h1 ng-click="_this.click()"> <i class="fas fa-angle-left arrow"></i></h1>
        </div>
        <div class="img-navbar">
          <img src="img/kdm_logo_white_alt2.png" width="10%" height="50%" alt="">
        </div>
      </div>
    </div>
    <div class="title">
      <h2>Analiza e ngjashmërisë</h2>
    </div>
    <div class="row rowwidth middlecontent mt2">
      <div class="col-md-5">
        <h4 style="margin-left: 13.6%;">Lajmi kryesor</h4>
      </div>
      <div class="col-md-2">
        <h1></h1>
      </div>
      <div class="col-md-5">
        <h4 style="margin-left: 7%;">Burimet: {{_this.objectLength}}</h4>
      </div>
    </div>
    <div class="row rowwidth ml-1_5">
      <div class="col-md-5 firstrow bordernone">
        <div>
          <div class="padding-left">
            <h6>Linku:</h6>
            <p>{{_this.selectedUrl}}</p>
          </div>
          <div class="padding-left">
            <h6>Institucioni </h6>
            <p>Kallxo.com</p>
          </div>
          <div class="padding-left">
            <h6>Data e postimit</h6>
            <p>{{_this.selectedDate.split('T')[0]}}
              {{_this.selectedDate.split('T')[1].split(".")[0]}}
            </p>
          </div>
          <div class="padding-left" style="border: none;">
            <h6>Kontrollimi i fundit</h6>
            <p>{{_this.selectedUpDated.split('T')[0]}}
              {{_this.selectedUpDated.split('T')[1].split(".")[0]}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 img-position">
        <img src="img/lupa.png" width="50%" alt="">
      </div>
      <div class="col-md-5  firstrow3">
        <div class="scroll seconddiv">
          <div ng-repeat="new in _this.object ">
            <div class="precentage-link col-md-12">
              <p class="col-md-10 linkstyle mt-pd" ng-class="{clickedColor: $index == _this.selected}"
                ng-click="_this.viewReport(new.id,new.allSentences,new.url, new.albanianTotalPercentage, new.findedSentences) ; _this.select($index); _this.removeHighlights()">
                {{new.url}}
              </p>
              <p class=" col-md-2 precentage">{{new.albanianTotalPercentage.toFixed(2)}}%</p>
            </div>
            <p class="mt-pd" ng-class="{clickedColor: $index == _this.selected}"><i class="far fa-clock"></i>
              {{new.publicationDate.split('T')[0]}} | {{new.publicationDate.split('T')[1].split('.')[0]}}</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row middlecontent rowwidth ml-1_5">
        <div class="col-md-5 firstrow2 mb2">
          <div class="orgContent">
            <span class="row border-bottom" style="margin-top: 6%;">
              <p>{{_this.selectedProjectUrl}}</p>
              <p class="iframesize" ng-show="_this.clicked == 1" id="creatorContent">{{_this.creatorContent}}</p>
            </span>
            <iframe ng-hide="_this.clicked == 1" ng-src="{{_this.selectedProjectUrl}}" width="100%" height="50%"
              frameborder="0">
            </iframe>
            <!-- <h5 class="orgContent-text">{{_this.creatorContent}}</h1> -->
          </div>
        </div>
        <div class="col-md-2">
          <div style="margin-top:70%;">
            <h1 class="middlePlag plagnumber">{{_this.percentageOfUrl.toFixed(2)}}%</h1>
            <h6 class="middlePlag" style="border:none;">Ngjashmeria</h6>
            <span ng-show="_this.clicked == 0" class="kalendari-button centerbuttons"
              ng-click="_this.changeview(); _this.doHighlight()">Shiko analizen
            </span>
            <span ng-show=" _this.clicked == 1" class="kalendari-button centerbuttons" ng-click="_this.changeview()">
              Shiko lajmin
            </span>
            <!-- <span class="kalendari-button centerbuttons" ng-click="_this.unMark()">Unmark</span> -->
          </div>
        </div>
        <div class="col-md-5 firstrow2 mb2">
          <div class="copyContent">
            <div ng-hide="_this.clicked == 0">
              <p ng-hide="_this.clicked == 1" class="zerostate">Klikoni njërën nga linqet për ta parë lajmin</p>
            </div>
            <p>{{_this.currentProjectUrl}}</p>
            <p class="iframesize" ng-show="_this.clicked == 1" id="copiedContent">{{_this.copiedContent}}</p>
            <iframe ng-hide="_this.clicked == 1" ng-src="{{_this.currentProjectUrl}}" width="100%" height="50%"
              frameborder="0"></iframe>
            <!-- </span>{{_this.copiedContent}}</h1> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <table class="table">
        <div ng-if="!_this.selectedView">
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Gazeta</th>
                <th scope="col">Perqindja</th>
              </tr>
            </thead>
            <tbody ng-repeat="new in _this.object">
              <tr>
                <td scope="row">{{new.id}}</td>
                <td ng-click="_this.viewReport(new.id,new.allSentences,new.findedSentences)">{{new.url}}</td>
                <td>{{new.albanianTotalPercentage.toFixed(2)}}</td>
              </tr>
            </tbody>
          </table> -->
</div>
<!-- <div ng-if="_this.iframeBox" class="iframe" >
            <button class="btn btn-primary" ng-click="_this.doHighlight()">Shiko Highlights</button>
          <div class="row">
            <div class="col-md-6">
              <ul id="testLI">
                <li>{{_this.creatorContent}}</li>
              </ul>
        
              {{_this.copiedContent}}
            </div>
        
            <div class="col-md-6 highlightClass">
              {{_this.creatorContent}}
            </div>
              
            <div class="col-md-6" >
                <ul id="testLI2">
                    <li>{{_this.copiedContent}}</li>
                  </ul>
            </div>
          </div>
        </div> -->
</div>